.StreamlineIconsLink__root__fMI-Y {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-overflow: clip;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  position: relative;
}
.StreamlineIconsLink__box__EFehs {
  position: relative;
  color: rgb(195, 218, 254) /* plasmic-token: cTGKVcwmv_E */;
  border-bottom-color: rgba(0, 0, 0, 0);
  border-bottom-width: 2px;
  border-bottom-style: solid;
}
.StreamlineIconsLink__root__fMI-Y:hover .StreamlineIconsLink__box__EFehs {
}
.StreamlineIconsLink__link__q4yib.__wab_instance {
  position: relative;
  width: default;
  height: default;
}
.StreamlineIconsLink__root__fMI-Y:hover
  .StreamlineIconsLink__link__q4yib.__wab_instance {
}
