.Link__root__uYu-2 {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: rgb(195, 218, 254) /* plasmic-token: cTGKVcwmv_E */;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-overflow: clip;
  border-bottom-color: rgba(0, 0, 0, 0);
  border-bottom-width: 2px;
  border-bottom-style: solid;
  position: relative;
}
.Link__root__uYu-2:hover {
  border-top-color: rgb(195, 218, 254) /* plasmic-token: cTGKVcwmv_E */;
  border-top-width: 0px;
  border-top-style: solid;
  border-right-color: rgb(195, 218, 254) /* plasmic-token: cTGKVcwmv_E */;
  border-right-width: 0px;
  border-right-style: solid;
  border-bottom-color: rgb(195, 218, 254) /* plasmic-token: cTGKVcwmv_E */;
  border-left-color: rgb(195, 218, 254) /* plasmic-token: cTGKVcwmv_E */;
  border-left-width: 0px;
  border-left-style: solid;
  border-bottom-width: 2px;
  position: relative;
}
.Link__root__uYu-2 {
}
